*{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
body{
    background-color: black;
    
    background-size: cover;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 98vh;
    width: auto;
}

.aviso > h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 35vh;
    padding: 24px;
}

#p1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    padding: 20px;
    text-align: center;
}

#p2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5vh;
    padding: 20px;
}
